* {
    margin:0px;
    padding:0px;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner {
    background-image: url(../imagens/paris.png);
    padding: 18%;
}

.banner h1 {
    color: #4169E1;
}

.area_cabecalho {
    background-color: rgb(72, 72, 201);
    height: 30%;
    text-align: center;
    color: white;
    padding: 1%;

}

.traveller {
    color: yellow;
}

.logo {
    margin-bottom: 30px;
    width: 80%;
    font-size: 1.5rem;
    margin:0px auto;
    padding:20px;
}

.menu {
    margin: 1% auto;
    padding: 1%;
}


.itens_menu {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2%;
}

.itens_menu:hover {
    color: yellow;
    background-color: white;
}

.paises {
    display: flex;
    padding: 10%;
    text-align: center;
    background-color: #B0C4DE;

}

.hospedagens {
    width: 100%;
    height: 100%;
}



.paises {
    display: flex;
    max-width: 100%;
    height: 100%;
    text-align: center;
    border:green  1px solid;
}

.paises_hospedagem {
    width: 100%;
    height: 150%;
    text-align: center;
    margin: 5%;
    background-color: white;
    padding: 1%;
    border-radius: 5%;
}

.titulos_galeria {
    color:black;
    text-align: center;
    max-width: 80%;
    margin: 10px auto;  
}

.quarto1 {
    display: block;
    background-color: lightgray;
    border-radius: 4%;
    box-shadow: 0 2px 6px rgba(50, 50 ,90, .1);
    break-inside: avoid-column;
    overflow: hidden;
    height: 90%;
}


.area_imagem {
    width: 100%;
    height: 100%;
    margin: 0px auto;

}

.galeria_imagens {
    width: 100%;
    height: 100%;
    margin:0px auto;
}

.texto_galeria {
    color:black;
    text-align: center;
    margin: 10px auto;
    width: 80%;
}



    .link_galeria {
    text-decoration: none;
    color: rgb(72, 72, 201);
    text-align: center;
    max-width: 100%;    
}

.titulos_hospedagens {color:black;
    background-color: lightgray;
    text-align: center;
}


.titulos_hospedagens_quartos {
    color:black;
    background-color: lightgray;
    text-align: center;    
}


.texto_galeria_preco {
    color:black;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    }

.texto_galeria_estrelas {
    text-align: center;
    background-color: lightgray;
}


.link_galeria:hover {
    color:yellow;
}

.rodape {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(72, 72, 201);
    color: white;
    height: 30%;
    padding: 1%;

}

.paises_hospedagem_quartos_imagens {max-width: 80%;
margin: 10px auto;
justify-items: center;
justify-content: center;

}

.galeria_imagens_quartos {width: 100%;
    max-width: 100%;
    max-height: 60%;

}

.texto_rodape {
    margin-top: 10px;
    padding: 60px;
    max-width: 100%;
    font-size: 1rem;
}

.quarto1 {
    background-color: lightgray;
    border-radius: 4%;
}



.quarto2 {
    display: flex;
    margin: 10px;
    }

.star {color:yellow;
    padding:10px;
}

.star_white {color:white;
    padding:10px;
}

@media (max-width: 650px) {

.logo {
    font-size: 0.8rem;
}
.paises {
    flex-wrap: wrap;
    max-width: 100%;
    height: 100%;
}
.area_cabecalho {
}

.rodape {
}
.texto_rodape {
}
.area_imagem {
    width: 80%;
    height: 80%;
    margin: 0px auto;
}

    main {
        column-count: 1;
    }
}


.texto_galeria {color:black;
    text-align: center;
    margin: 10px auto;
    width: 80%;
}

main {
    column-count: 2;
}


